//The ARAACqd config file
<log>
printToScreen#1=8;   //Controls the verbosity to screen
logLevel#I1=8; //Controls the verbosity to disk
atriControlLog#I1=1; //Enables the atriControl debug log
atriEventLog#I1=1; //Enables the atriEvent debug log
</log>

<acq>
doAtriInitialisation#I1=1; //Do the ATRI initialisation in the prepare phase
standAlone#I1=1; // Deprecated
numEvents#I1=100; // Deprecated
enableHkRead#I1=1; //Deprecated
eventHkReadRateHz#F1=2; //Readout rate of event housekeeping
sensorHkReadPeriod#I1=10; //Readout period (seconds) of sensor housekeeping
pedestalMode#I1=1; // Implemented
pedestalSamples#I1=100; // Number of events per block per pedestal run
pedestalDebugMode#I1=1; //Write out pedestal events
stackEnabled#I4=1,0,0,0;
</acq>

<thresholds>
thresholdScan#I1=0;  //Perform a threshold scan
thresholdScanStep#I1=1000; ///Threshold scan step size
thresholdScanPoints#I1=40; ///Number of threshold scan points
thresholdScanStartPoint#I1=0; ///Start value for the scan
setThreshold#I1=1; //Enable threshold setting
useGlobalThreshold#I1=1; //Enable a global threshold for all 16 DAC values
globalThreshold#1=20000; // The global threshold if enables
thresholdValues#I16=0,0,0,0,0,0,0,0,9000,19000,19000,19000,0,0,0,0; // The individual thresholds
setSurfaceThreshold#I1=0; /// Actually set the surface thresholds?
surfaceBoardStack#I1=1; ///Which stack has a surface board 0-3 counting
surfaceThresholdValues#I4=1000,1000,1000,1000;
</thresholds>

<trigger>
numSoftTriggerBlocks#1=2; ///Number of software trigger blocks... must be even and max=16
enableSelfTrigger#I1=0; //Enable RF triggers
enableSoftTrigger#I1=0; //Enable timed software triggers
enableRandTrigger#I1=0; //Not yet implemented
softTriggerRateHz#F1=1.0; //Software trigger rate in Hz
randTriggerRateHz#F1=1.5; //Not yet implemented
</trigger>

<servo>
initialVadj#I4=17771,17771,17771,17771; ///< Initial Vadj
initialVdly#I4=43650,43650,54686,51114; ///< Initial Vdly
enableVdlyServo#I1=0; ///< Vdly servo for the wilkinson	
wilkinsonGoal#I1=125; ///< Goal target for the wilkinson		     
enableAntServo#I1=0; ///<Enables the antenna (L1) servo
scalerGoalValues#I16=0,0,0,0,0,0,0,0,500,500,500,500,0,0,0,0; ///< The 16 goal values for the ant servo
scalerPGain#F1=0.1; ///< Gain for the proportional part of the servo
scalerIGain#F1=0.001; ///< Gain for the integral part of the servo
scalerDGain#F1=0.00; ///< Gain for the differential part of the servo
scalerIMax#F1=100000; ///< Maximum integral value
scalerIMin#F1=-100000; ///< Minimum integral value
enableSurfaceServo#I1=0; ///Not yet implemented
surfaceGoalValues#I4=500,500,500,500; ///Not yet implemented			
enableRateServo#I1=1;  // Not yet implemented
servoCalcPeriodS#F1=1;  //Not yet implemented
servoCalcDelayS#F1=10;  //Not yet implemented
rateGoalHz#F1=5;  //Not yet implemented
ratePGain#F1=0.5; //Not yet implemented
rateIGain#F1=0.01; //Not yet implemented
rateDGain#F1=0.00; //Not yet implemented
rateIMax#F1=100; //Not yet implemented
rateIMin#F1=-100; //Not yet implemented 
</servo>
